//@theme "/home/lucas/.local/share/rofi/themes/nord-twoLines.rasi"
//@theme "/home/lucas/.local/share/rofi/themes/nord.rasi"
//@theme "/home/lucas/.local/share/rofi/themes/nord-twoLines.rasi"
//@theme "/home/lucas/.local/share/rofi/themes/nord.rasi"
@theme "/home/lucas/.local/share/rofi/themes/nord-twoLines.rasi"
